/* UTILITIES */

.u {
	// Text formatting 
	&-uppercase { text-transform : uppercase; }
	&-lowercase { text-transform : lowercase; }
	&-capital { text-transform : capitalize; }

	// Alignment 
	&-align-center { text-align : center; }
	&-align-left { text-align : left; }
	&-align-right { text-align : right; }
	&-aslign-justify { text-align : justify; }

	&-float-left { float : left; }
	&-loat-right { float : right; }

	// Table
	&-table { 
		display : table;
		&-cell { display : table-cell; }
	}

	// Display
	&-block { display : block; }
	&-inline { display : inline; }
	&-inline-block { dusplay : inline-block; }

	//Padding and Margin
	&-no-margin { margin : 0; }
	&-no-padding { padding : 0; }
}